* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    
    height: 100vh;
}

body{
    background-color: rgb(250, 250, 244);
}

.container-app{
    margin-top: 0px;
    padding-top: 0px;
}
